extends ../layout.pug

block content
  div.pa1.w-95.w8-ns.br2.br--top.center.bg-black.flex.items-center.justify-center
    img.img.br2.h2.w2.dib(src= contact.photo)
    h1.ma0.ml1.white.ph1.f3.avenir.normal= contact.displayName
  .messageLayout.w-95.w8-ns.br2.br--bottom.vh-75.overflow-hidden.center.bg-white.shadow-2
    .messageWrapper.w-100.vh-75.overflow-y-scroll.overflow-x-hidden.pr2
      ul#messages.pr2.pl3
        each msg in messages
          li(class=chat.msg)
            .msg-content(class=chat.msg_content + " " + (msg.sent ? chat.sent : chat.received))= msg.content
            div(class= chat.padding)
  form#chat-form.w-95.w8-ns.center.mt2.mb3.flex.items-center.justify-between.ph2-ns(action="")
    textarea#input-msg.mw-95.h2.pt1.br2.shadow-2(cols="48")
    input.w2.w3-ns.self-start(class= button.secondary, type="submit", value="▶")

block scripts
  script.
    const senderId = #{user.id};
    const conversationId = #{convId};

    const msgStyles = {
      message: "#{chat.msg}",
      padding: "#{chat.padding}",
      sent: "#{chat.sent} #{chat.msg_content}",
      received: "#{chat.sent} #{chat.msg_content}",
    };

  script(src="/js/autosize.min.js")
  script(src="/js/conversation/chat.js")